[Unit]
Description=roflcoptor - onion router control port filtration daemon
After=tor.service

[Service]
Type=simple
User=root
Group=debian-tor
ExecStart=/usr/local/sbin/roflcoptor -config /etc/roflcoptor/roflcoptor_config.json
