Source: roflcoptor
Section: devel
Priority: extra
Maintainer: David Mirza Ahmad <dma@subgraph.com>
Build-Depends: debhelper (>= 9),
               dh-golang,
	       dh-systemd,
               golang-go
Standards-Version: 3.9.6
Homepage: https://github.com/subgraph/roflcoptor
Vcs-Git: https://github.com/dma/roflcoptor.git
XS-Go-Import-Path: github.com/subgraph/roflcoptor

Package: roflcoptor
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: tor, procsnitchd, ${shlibs:Depends},
         ${misc:Depends}
Description: ROFLCopTor aims to be a comprehensive Tor control port filter daemon written in golang.

