[Unit]
Description=roflcoptor - onion router control port filtration daemon
After=procsnitchd.service
Requires=procsnitchd.service tor.service

[Service]
Type=simple
User=roflcoptor
PermissionsStartOnly=true
ExecStartPre=/usr/bin/install -o roflcoptor -g roflcoptor -d /var/run/roflcoptor
ExecStart=/usr/bin/roflcoptor -config /etc/roflcoptor/roflcoptor_config.json

[Install]
WantedBy=multi-user.target
