[Unit]
Description=roflcoptor - onion router control port filtration daemon
After=procsnitchd.service tor.service
Requires=procsnitchd.service tor.service

[Service]
Type=simple
User=roflcoptor
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/roflcoptor
ExecStartPre=/bin/chown roflcoptor /var/run/roflcoptor
ExecStart=/usr/bin/roflcoptor -config /etc/roflcoptor/roflcoptor_config.json

[Install]
WantedBy=multi-user.target
