[Unit]
Description=roflcoptor - onion router control port filtration daemon
After=procsnitchd.service

[Service]
Type=simple
User=roflcoptor
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir /var/run/roflcoptor
ExecStartPre=/bin/chown roflcoptor /var/run/roflcoptor
ExecStart=/usr/bin/roflcoptor -config /etc/roflcoptor/roflcoptor_config.json

[Install]
WantedBy=tor.service
